<div class="main">
  <div class="upper">
    <div class="up-btn">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="prev()"
      >
        <mat-icon>expand_less</mat-icon>
      </button>
    </div>
    <app-choices> </app-choices>
    <div class="down-btn">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="next()"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="lower">
    <div>Gender</div>
    <div>What Gender</div>
    <div>do You have?</div>
  </div>
</div>
