<main class="container">
  <div>BIO</div>
  <div class="progress-container">
    <div class="btn-container">
      <img src="/assets/slider-btn.png" class="slider-btn" />
    </div>
    <div class="dots">
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
      <span class="material-icons"> fiber_manual_record </span>
    </div>
  </div>
  <div>IMAGES</div>
  <div>SHORTS</div>
</main>
