<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<div class="content" role="main">
  <div class="main-content">
    <app-progress-bar></app-progress-bar>
    <app-gender-chooser></app-gender-chooser>
    <svg
      class="woman-img"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 481.988 481.988"
    >
      <g id="woman_icon" transform="translate(0 0)">
        <path
          id="Pfad_966"
          data-name="Pfad 966"
          d="M392.592-449.579c70.053,70.053,70.053,183.8,0,253.855s-183.8,70.053-253.855,0-70.053-183.8,0-253.855S322.539-519.632,392.592-449.579Zm-63.464,63.464a89.793,89.793,0,0,1,0,126.927,89.794,89.794,0,0,1-126.927,0,89.794,89.794,0,0,1,0-126.927A89.793,89.793,0,0,1,329.128-386.114Z"
          transform="translate(-86.198 625.172)"
          fill="#f2d3db"
          fill-rule="evenodd"
        />
        <path
          id="Pfad_967"
          data-name="Pfad 967"
          d="M607.266-581.447,544-644.709,371.429-472.133l63.261,63.261Z"
          transform="translate(-125.278 644.709)"
          fill="#f2d3db"
          fill-rule="evenodd"
        />
        <path
          id="Pfad_968"
          data-name="Pfad 968"
          d="M541.039-399.463h89.466V-643.521H541.039Z"
          transform="translate(-148.517 644.546)"
          fill="#f2d3db"
          fill-rule="evenodd"
        />
        <path
          id="Pfad_969"
          data-name="Pfad 969"
          d="M361.9-555.243H605.96v-89.466H361.9Z"
          transform="translate(-123.973 644.709)"
          fill="#f2d3db"
          fill-rule="evenodd"
        />
      </g>
    </svg>
    <svg
      class="man-img"
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0 0 355.955 557.818"
    >
      <g id="man_icon" transform="translate(355.955 557.818) rotate(180)">
        <path
          id="Pfad_963"
          data-name="Pfad 963"
          d="M177.977-416c98.228,0,177.977,79.749,177.977,177.977S276.206-60.047,177.977-60.047,0-139.8,0-238.025,79.749-416,177.977-416Zm0,88.989a89.031,89.031,0,0,1,88.988,88.988,89.031,89.031,0,0,1-88.988,88.989,89.032,89.032,0,0,1-88.989-88.989A89.031,89.031,0,0,1,177.977-327.013Z"
          transform="translate(0 617.866)"
          fill="#caf2ea"
          fill-rule="evenodd"
        />
        <path
          id="Pfad_964"
          data-name="Pfad 964"
          d="M156.166-409.934h88.706V-651.919H156.166Z"
          transform="translate(-22.542 651.919)"
          fill="#caf2ea"
          fill-rule="evenodd"
        />
        <path
          id="Pfad_965"
          data-name="Pfad 965"
          d="M66.6-473.646H308.582v-88.706H66.6Z"
          transform="translate(-9.613 638.99)"
          fill="#caf2ea"
          fill-rule="evenodd"
        />
      </g>
    </svg>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
